* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

main {
  min-height: calc(100vh - 3rem);
  background-color: whitesmoke;
  padding: 3rem 4rem 0 4rem;
  text-align: center;
  color: rgb(54, 54, 54);
  transition: all 0.3s linear;
}

.dark {
  background-color: rgb(54, 54, 54);
  color: whitesmoke;
}

main > section > p {
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-overflow: ellipsis;
}

main > section > p > .bold {
  font-weight: bold;
}

.about-section {
  margin-bottom: 3rem;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.bannerPic {
  margin-bottom: -50px;
}

.bannerPic > img {
  margin-top: 3rem;
  height: 20rem;
  border-radius: 50%;
}

.about-container {
  margin: 0 auto;
  width: fit-content;
  padding: 0.2rem 2rem 0.2rem 2rem;
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
  position: relative;
  top: -50px;
  transition: all 0.3s linear;
}

.about-container.dark {
  background-color: whitesmoke;
}

.about-container > h1 {
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 5rem;
  transition: all 0.3s linear;
}

.about-container.dark > h1 {
  color: rgb(54, 54, 54);
}

main > section > p > .link {
  color: black;
  font-weight: 500;
  transition: all 0.4s;
}

main > section > p > .link:hover, .unstyled-button:hover {
  color: rgb(105, 105, 105);
}

main.dark > section > p > .link {
  color: white;
}

main.dark > section > p > .link:hover, .unstyled-button.dark:hover {
  color: rgb(182, 182, 182);
}

.unstyled-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: black;
  font-weight: 500;
  transition: all 0.4s;
  text-decoration: underline;
}

.unstyled-button.dark {
  color: white;
}

.toggleButtonContainer {
  position: absolute;
  width: 5%;
  top: 3%;
  right: 4%;
}

@media (max-width: 750px) {
  main {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  main > section > p {
    font-size: 1.2rem;
  }

  .bannerPic > .about-container {
    top: -30px;
    padding-left: 6%;
    padding-right: 6%;
  }
  .bannerPic > img {
    height: 10rem;
  }

  .about-container > h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  main > section > p {
    font-size: 0.8rem;
  }
}
