* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

main {
  margin-top: 3rem;
  text-align: center;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 5rem;
  color: rgb(54, 54, 54);
}

main > section > p {
  margin-top: 3rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  text-overflow: ellipsis
}

main > section > p > .bold {
  font-weight: bold;
}

.about-section {
  margin-bottom: 3rem;
}

hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.bannerPic {
  margin-bottom: -50px;
}

.bannerPic > img {
  margin-top: 3rem;
  height: 20rem;
  border-radius: 50%;
}

.bannerPic > .about-container {
  margin: 0 auto;
  width: fit-content;
  padding: 0.2rem 2rem 0.2rem 2rem;
  background-color: rgb(54, 54, 54);
  border-radius: 10px;
  position: relative;
  top: -50px;
}

.about-container > h1 {
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 5rem;
}

.link {
  color: black;
  font-weight: 500;
  transition: all 0.4s;
}

.link:hover {
  color: rgb(77, 77, 77);
}

.unstyled-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  color: black;
  font-weight: 500;
  transition: all 0.4s;
  text-decoration: underline;
}

@media (max-width: 750px) {
  main {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }

  main > section > p {
    font-size: 1.2rem;
  }

  .bannerPic > .about-container {
    top: -30px;
    padding-left: 6%;
    padding-right: 6%;
  }
  .bannerPic > img {
    height: 10rem;
  }

  .about-container > h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  main > section > p {
    font-size: .8rem;
  }
}
