* {
  margin: 0;
  padding:0
}

body {
  background-color: whitesmoke;
}

.navbar {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding-left: 4rem;
  padding-right: 4rem;
  display: flex;
  min-height: 7rem;
  background-color: rgb(240, 240, 240);
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  padding-right: 1rem;
  color: rgb(105, 105, 105);
  text-decoration: none;
}

.active {
  color: black;
  font-weight: 700;
}

.nav-photo-container > img {
  height: 4rem;
  border-radius: 50%;
}